<!-- <div class="card" style="width: 18rem;">
  <div class="card-img-wrapper">
    <img *ngIf="car.image" class="card-img-top" src="assets/images/{{ car.image }}" />
    <img *ngIf="!car.image" class="card-img-top" src="assets/images/default-image.png" />
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/car-detail/{{ car.id }}">
          <i class="far fa-edit"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <i class="far fa-address-book"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1>{{ car.brand }}</h1>
    <h2>{{ car.model }}</h2>
    <h3></h3>
    <p>{{ car.price | currency: 'EUR' }}</p>
  </div>
</div> -->
<div class="card" style="width: 18rem;">
  <div class="card-img-wrapper">
    <img *ngIf="car.image" class="card-img-top" src="assets/images/{{ car.image }}" alt="Card image cap">
    <img *ngIf="!car.image" class="card-img-top default" src="assets/images/default.png" alt="Card image cap" />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ car.brand }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ car.model }}</h6>
    <p class="card-text">{{car.Description}}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Year of production: {{ car.year }}</li>
    <li class="list-group-item">Fuel: {{ car.fuel }}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link" routerLink="/car-detail/{{ car.id }}">Car detail</a>
    <a href="#" class="card-link">Price: {{ car.price | currency: 'EUR' }}</a>
  </div>
</div>